{% extends "layouts/base.html" %}

{% block title %} UI Forms {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Form Elements</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Form Componants</a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Form Elements</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Basic Componant</h5>
                            </div>
                            <div class="card-body">
                                <h5>Form controls</h5>
                                <hr>
                                <div class="column">
                                    <div class="avatar-wrapper">
                                        <img class="profile-pic" src="https://banner2.cleanpng.com/20180703/ya/kisspng-computer-icons-user-avatar-user-5b3bafe2381423.1933594815306383062297.jpg" />
                                        <div class="upload-button">
                                            <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
                                        </div>
                                        <input class="file-upload" type="file" accept="image/*" />
                                    </div>
                                    <div class="col-md-9" style='margin-left: auto; margin-right: auto;'>
                                        <form>
                                            <div class="row form-group" style='margin-left: auto; margin-right: auto;'>
                                                <form>
                                                    <div class="form-group col-md-2" style='margin-left: 50px;'>
                                                        <label>Code</label>
                                                        <input type="text" class="form-control" id="code">
                                                    </div>
                                                
                                                    <div class="form-group col-md-8" style='margin-right: 50px;'>
                                                        <label>Name</label>
                                                        <input type="text" class="form-control" id="name">
                                                    </div>                                                
                                                </form>
                                            </div>
                                        </form>
                                    </div>

                                    <div class="col-md-9" style='margin-left: auto; margin-right: auto;'>
                                        <form>
                                            <div class="row form-group" style='margin-left: auto; margin-right: auto;'>
                                                <form>
                                                    <div class="form-group col-md-7" style='margin-left: 50px;'>
                                                        <label>Address</label>
                                                        <input type="text" class="form-control" id="address">
                                                    </div>
                                            
                                                    <div class="form-group col-md-3" style='margin-right: 50px;'>
                                                        <label>Gender</label>
                                                        <select class="form-control" id="gender">
                                                            <option>Male</option>
                                                            <option>Female</option>
                                                        </select>
                                                    </div>
                                                </form>
                                            </div>
                                        </form>
                                    </div>

                                    <div class="col-md-9" style='margin-left: auto; margin-right: auto;'>
                                        <form>
                                            <div class="row form-group" style='margin-left: auto; margin-right: auto;'>
                                                <form>
                                                    <div class="form-group col-md-4" style='margin-left: 50px;'>
                                                        <label>Birthday</label>
                                                        <input type="date" class="form-control datepicker-dropdown">
                                                    </div>

                                                    <div class="form-group col-md-6" style='margin-right: 50px;'>
                                                        <label>Email</label>
                                                        <input type="text" class="form-control" id="email">
                                                    </div>
                                                </form>
                                            </div>
                                        </form>
                                    </div>

                                    <div class="col-md-9" style='margin-left: auto; margin-right: auto;'>
                                        <form>
                                            <div class="row form-group" style='margin-left: auto; margin-right: auto;'>
                                                <form>
                                                    <div class="form-group col-md-4" style='margin-left: 50px;'>
                                                        <label>Phone Number</label>
                                                        <input type="text" class="form-control" id="email">
                                                    </div>

                                                    <div class="form-group col-md-3">
                                                        <label>Indentify Card</label>
                                                        <input type="text" class="form-control" id="indentify-card">
                                                    </div>
                                    
                                                    <div class="form-group col-md-3" style='margin-right: 50px;'>
                                                        <label>BHYT</label>
                                                        <input type="text" class="form-control" id="indentify-card">
                                                    </div>
                                                </form>
                                            </div>                                    
                                        </form>
                                    </div>

                                    <div class="col-md-9" style='margin-left: auto; margin-right: auto;'>
                                        <form>
                                            <div class="row form-group" style='margin-left: auto; margin-right: auto;'>
                                                <form>
                                                    <div class="form-group col-md-2" style='margin-left: 50px;'>
                                                        <label>Class</label>
                                                        <input type="text" class="form-control" id="class">
                                                    </div>
                                            
                                                    <div class="form-group col-md-8" style='margin-right: 50px;'>
                                                        <label>Major</label>
                                                        <input type="text" class="form-control" id="major">
                                                    </div>

                                                    <div class="form-group" style="margin-right:auto; margin-left:auto">
                                                        <button type="submit" class="btn btn-primary" style="width: 100px;">Submit</button>
                                                        <a href="/students.html"><button type="button" class="btn btn-warning" title="btn btn-warning" style="float:right; width: 100px;">Cancel</button></a>
                                                    </div>
                                                </form>
                                            </div>
                                    
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    $(document).ready(function () {
        var readURL = function (input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('.profile-pic').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $(".file-upload").on('change', function () {
            readURL(this);
        });

        $(".upload-button").on('click', function () {
            $(".file-upload").click();
        });
    });
</script>
{% endblock javascripts %}